.bq-card {
  width: 250px;
  height: 280px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
  border: 1px solid rgba($color-rich-black, 0.2);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 3px 17px -1px rgba(0,0,0,0.15);
  margin: 10px;

  &__image {
    font-size: 100px;
  }

  &__rate {
    width: 100%;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    color: $color-cerulean;
  }

  &__desc {
    @include style-content;
    text-align: center;
  }

  &__desc-title {
    @include style-content-title;
    display: block;
    margin-bottom: 10px;
  }
}