.bq-hero {
  background: url('https://picsum.photos/1400/700?image=992') no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  flex-flow: row nowrap;
  position: relative;

  @include mq(tablet) {
    height: 350px;
  }

  @include mq(desktop) {
    height: 450px;
  }

  .bq-wrapper {
    flex-flow: column wrap;
    justify-content: flex-end;
  }

  &__heading {
    @include style-heading;
  
    color: $color-white;
    margin: 0;
    margin-bottom: 10px;
  }

  &__subheading {
    @include style-subheading;
  
    color: $color-white;
    margin: 0;
  }
}
