/** susy */
$susy: (
  'columns': susy-repeat($columns-sm),
  'gutters': $gutterWidth-sm/$columnWidth-sm, /* Gutter width / Column width */
  'spread': 'narrow',
  'container-spread': 'narrow',
);

$layout-md: (
  'columns': susy-repeat($columns-md),
  'gutters': $gutterWidth-md/$columnWidth-md,
);

$layout-lg: (
  'columns': susy-repeat($columns-lg),
  'gutters': $gutterWidth-lg/$columnWidth-lg,
);
